<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
	<head>
		

		<title>How Many Calories Should You Eat</title>
		<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-8859-1">
		
		<meta property="og:title" content="How many calories should you eat?">
		
		<meta property="og:url" content="http://www.calorieking.com/interactive-tools/how-many-calories-should-you-eat/?ref=fb">
		
		<meta property="og:description" content="Everyone's different. Find out the amount calories you should eat to lose, maintain or gain weight.">
		
		<meta property="og:image" content="/images/eat.jpg">
		<link rel="icon" href="http://images.calorieking.com/branding/ck/secure/favicon.ico">
		
		<script type="text/javascript">
		<!--
		function getImagesURI() {
			return 'http://images.calorieking.com/branding/ck';
		}
		function getSecureImagesURI() {
			return 'http://images.calorieking.com/branding/ck/secure';
		}
		-->
		</script>
		<link rel="stylesheet" href="http://images.calorieking.com/branding/ck/secure/css/style3/public/style3.css?1392625568" type="text/css">
		<link rel="stylesheet" href="http://images.calorieking.com/branding/ck/css/style3/public/free-profile.css?1381394827" type="text/css">
		
		
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://images.calorieking.com/branding/ck/script/free-profile.js?1378967238"></script>
		<!-- BEGIN GOOGLE ANALYTICS -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-316353-1']);
		  _gaq.push(['_setDomainName', '.calorieking.com']);
			
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<!-- END GOOGLE ANALYTICS -->
	</head>
	<!--[if lt IE 7 ]><body class="ie6" id="top"><![endif]-->
	<!--[if IE 7 ]><body class="ie7" id="top"><![endif]-->
	<!--[if IE 8 ]><body class="ie8" id="top"><![endif]-->
	<!--[if IE 9 ]><body class="ie9" id="top"><![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!--><body class="" id="top" ><!--<![endif]-->
		<div id="page-container-lb">
			<div id="page-container-rb">
				<div id="page-top-left-shadow"></div>
				<div id="page-top-right-shadow"></div>
				<div id="page" class="no-column">
					<div id="header">
						<div class="positioner">
							<!--<div id="login-logout">
								<a class="member-login login" href=""></a>
								
							</div><!-->
						</div>
					</div>
				</div>
							
<script type="text/javascript">
	(function() {
		var
			_activeNavItem = null,
			_activeSubMenu = null;

		function _openMenu(
			navItem,
			subMenu)
		{
			navItem.className = navItem.className.concat(' open');
			subMenu.className = subMenu.className.concat(' active');
		}

		function _closeMenu(
			navItem,
			subMenu)
		{
			navItem.className = navItem
				.className
				.replace(/\bopen\b/, '')
				.replace(/^\s+|\s+$/g, '');
			subMenu.className = subMenu
				.className
				.replace(/\bactive\b/, '')
				.replace(/^\s+|\s+$/g, '');
		}

		function _bindToggleSubMenu(
			navItem,
			subMenu)
		{
			var
				_toggleSubMenu = function(
					navItem,
					subMenu)
				{
					if ( navItem.className.indexOf('open') >= 0 ) {
						_closeMenu(_activeNavItem, _activeSubMenu);
					} else {
						if ( ((null !== _activeNavItem) && (null !== _activeSubMenu))
							&& (_activeNavItem !== navItem) )
						{
							_closeMenu(_activeNavItem, _activeSubMenu);
						}
						_openMenu(navItem, subMenu);
						_activeNavItem = navItem;
						_activeSubMenu = subMenu;
					}
				};

			if ( window.addEventListener ) {
				navItem.addEventListener(
					'click',
					function() {
						_toggleSubMenu(navItem, subMenu)
					},
					true
				);
			} else if ( window.attachEvent ) {
				navItem.attachEvent(
					'onclick',
					function() {
						_toggleSubMenu(navItem, subMenu)
					}
				);
			}
		}

		(function() {
			var
				siteNav = document.getElementById('site-nav'),
				navItem = null,
				subMenu = null,
				i,
				k,
				onOutsideClickCloseMenu = function(
					event)
				{
					var
						e = event || window.event;

					if ( (_activeSubMenu !== null)
						&& ( (e.clientY < siteNav.offsetTop)
							|| (e.clientY > (_activeSubMenu.offsetTop + _activeSubMenu.offsetHeight))
						) )
					{
						_closeMenu(_activeNavItem, _activeSubMenu);
					}
				};
			
			for ( i = 0; i < siteNav.childNodes.length; i += 1 ) {
				if ( (1 === siteNav.childNodes[i].nodeType)
					&& ('LI' === siteNav.childNodes[i].tagName)
					&& (siteNav.childNodes[i].className.indexOf('nav-item') >= 0) )
				{
					for ( k = 0; k < siteNav.childNodes[i].childNodes.length; k += 1 ) {
						if ( (1 === siteNav.childNodes[i].childNodes[k].nodeType)
							&& (siteNav.childNodes[i].childNodes[k].tagName === 'A')
							&& (siteNav.childNodes[i].childNodes[k].className.indexOf('parent-link') >= 0) )
						{
							navItem = siteNav.childNodes[i].childNodes[k];
							subMenu = navItem;
							do {
								subMenu = subMenu.nextSibling;
							} while (
								( null !== subMenu )
								&& !(
									(1 === subMenu.nodeType)
									&& ('UL' === subMenu.tagName)
									&& (subMenu.className.indexOf('sub-nav') >= 0)
								)
							);
							_bindToggleSubMenu(navItem, subMenu);
						}
					}
				}
			}

			if ( window.addEventListener ) {
				document.getElementsByTagName('html')[0].addEventListener(
					'click',
					onOutsideClickCloseMenu,
					true
				);
			} else if ( window.attachEvent ) {
				document.getElementsByTagName('html')[0].attachEvent(
					'onclick',
					onOutsideClickCloseMenu
				);
			}
		}());
	}());
</script>
						</div>
					</div>
<div id="page-container-lb">
			<div id="page-container-rb">
				<div id="page-top-left-shadow"></div>
				<div id="page-top-right-shadow"></div>
				<div id="page" class="no-column">
					<div id="header">
						<div class="positioner">
							<div id="login-logout">
								<a class="member-login login" href="/">&nbsp;Home</a>
								<a class="member-login login" href="/showlogin">&nbsp;Sign In</a>								
								<a class="member-login login" href="/registration">Sign Up</a>
							</div>
						</div>
					</div>
				</div>
					</div>
					</div>
		
					<div id="breadcrumbs">
						<a href="http://www.calorieking.com/">Home</a> 
						/ <a href="/interactive-tools/">How Many Calories Should You Eat</a>
					</div>
					<div id="page-content">
	<h1 class="major-title">How many calories should you eat?</h1>
	<p class="intro">Find out in two simple steps</p>
	<div class="info-panel">
		<p class="instructions">
			The amount of calories you should eat every day depends on a 
			few things:
		</p>
		<ul class="required-bits">
			<li>Age, height and gender</li>
			<li>Daily activity level</li>
			<li>If you want to lose, maintain or gain weight</li>
		</ul>

		<noscript>
		<div class="alert">
			<h2 class="sorry">We're really sorry &hellip;</h2>
			<p>But you need to have javascript turned on to use this page.</p>
		</div>
	</noscript>
	</div>

	<form class="clearfix" action="">
		<div class="step-one">
			<h2 class="about-title">About you</h2>
			<div class="survey">
				<fieldset>
					<legend class="svy-label">Height</legend>
					<div class="fiddy">
						<label for="h-feet" class="in-field">
							<abbr title="feet">ft</abbr>
						</label>
						<input type="number" id="h-feet" name="h-feet">
					</div>
					<div class="fiddy">
						<label for="h-inches" class="in-field">
							<abbr title="inches">in</abbr>
						</label>
						<input type="number" id="h-inches" name="h-inches">
					</div>
				</fieldset>
				<div class="fiddy">
					<label for="weight" class="svy-label">
						Weight 
						<span class="in-field lbs">	
							<abbr title="pounds">lbs</abbr>
						</span>
					</label>
					<input type="number" id="weight" name="weight">
				</div>
				<div class="fiddy">
					<label for="age" class="svy-label">Age</label>
					<input type="number" id="age" name="age">
				</div>
				<label class="svy-label">Gender</label>
					<select name="gender" class="form-control">
					
					<option value="F">Female</option>
					<option value="M">Male</option>
				</select>
				<a href="javascript:void(0);" class="btn primary" id="calculate">Go</a>
			</div>
		</div>


		<div class="step-two invisible clearfix">
			<p class="activity-instruction invisible loader">
				Your calorie needs depend on your lifestyle.
				<br>
				Someone constantly chasing toddlers needs more fuel than an office 
				worker.
			</p>
			<span class="n2 invisible">&nbsp;</span>
			<span class="lady invisible d3">&nbsp;</span>
			<span class="man invisible d3">&nbsp;</span>
			<div class="healthy-weight invisible">
				<p>
					<span class="weight-range">
						<span class="target-min"></span>&nbsp;to&nbsp;<span class="target-max"></span>&nbsp;lbs 
					</span>
					is your healthy weight range
				</p>
				<p class="minor">
					This range is based on BMI calculation. 
					<a href="#" class="bmi">What's BMI?</a>
				</p>
			</div>
			<p class="minor bmi-info">
				<strong>About Body Mass Index (BMI)</strong>
				<br>
				The Body Mass Index (BMI), is a statistical measure of body weight 
				based on a person's weight and height. BMI is a widely used measure to 
				find out whether you're a healthy weight for your height. A BMI of 18.5 
				to 25 is considered healthy for most adults.
				<a href="#" class="bmi" title="close">&times;</a>	
			</p>
			<div class="act-level invisible">
				<h2 class="alt-head">What best describes your daily activity level?</h2>
				<p class="not-ex"><strong>NOT</strong> including exercise</p>
				<fieldset class="act-group">
					<legend class="hidden">Your daily activity</legend>
					<label for="sedentary" class="radio">
						<input type="radio" value="SEDENTARY" name="activity-level" id="sedentary"> 
						Sedentary 
						<span>e.g. I'm bedridden</span>
						<i class="loader"></i>
					</label>
					<label for="light" class="radio">
						<input type="radio" value="LIGHT" name="activity-level" id="light"> 
						Light 
						<span>e.g. an office worker</span>
						<i class="loader"></i>
					</label>
					<label for="medium" class="radio">
						<input type="radio" value="MEDIUM" name="activity-level" id="medium"> 
						Medium 
						<span>e.g. a professional cleaner</span>
						<i class="loader"></i>
					</label>
					<label for="heavy" class="radio no-border">
						<input type="radio" value="HEAVY" name="activity-level" id="heavy"> 
						Heavy 
						<span>e.g. a construction worker</span>
						<i class="loader"></i>
					</label>
				</fieldset>
			</div>
		</div>
	</form>
	<div class="step-three clearfix invisible">
		<div id="tabs" class="clearfix invisible">
			<ul class="tab-nav">
				<li class="tab-item active"><a href="#lose" class="tab-link">Lose</a></li>
				<li class="tab-item"><a href="#maintain" class="tab-link">Maintain</a></li>
				<li class="tab-item"><a href="#gain" class="tab-link">Gain</a></li>
			</ul>
			<div id="lose" class="tab-data">
				<h2 class="type">To lose weight you should eat</h2>
				<p class="cal-result">
					<span class="cal-range">
						<span class="min-cal"></span>&nbsp;to&nbsp;<span class="max-cal"></span>
					</span> 
					calories per day
				</p>
				<p class="cal-note">
					This calorie target will allow you to lose weight at a healthy and 
					sustainable rate of 1 to 2 lbs per week.
				</p>
			</div>
			<div id="maintain" class="tab-data" style="display: none;">
				<h2 class="type">To maintain your weight you should eat</h2>
				<p class="cal-result">
					<span class="cal-range">
						<span class="min-cal"></span>&nbsp;to&nbsp;<span class="max-cal"></span>
					</span> 
					calories per day
				</p>
				<p class="cal-note">
					This calorie target allows you to maintain your current weight, 
					within a margin of a few pounds.
				</p>
			</div>
			<div id="gain" class="tab-data" style="display: none;">
				<h2 class="type">To gain weight you should eat</h2>
				<p class="cal-result">
					<span class="cal-range">
						<span class="min-cal"></span>&nbsp;to&nbsp;<span class="max-cal"></span>
					</span> 
					calories per day
				</p>
				<p class="cal-note">
					This calorie target will allow you to gain weight at a healthy and 
					sustainable rate of 1 to 2 lbs per week.
				</p>
			</div>
			
			<a href="#" id="fb-share" 
				onclick="
					window.open(
						'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://www.calorieking.com/interactive-tools/how-many-calories-should-you-eat/?ref=fb'),
						'facebook-share-dialog',
						'width=626,height=436'
					);
					return false;">
  			<strong>Share this page</strong>
				<span>We don't share your details</span>
			</a>
		</div>
	</div>
	<div class="step-four clearfix">
		<div class="sell-para">
			<h2 class="alt-sub brief-sell">Calorie counters come in different shapes and sizes. <small>Which suits you? </small></h2>
		</div>
	</div>
<script type="text/javascript">
	$(document).ready(function(){
		var
			profile = CK.Apps.FreeProfile.init(
				"",
				"F",
				"",
				"",
				"",
				false
			);


		function _trackOutboundLink(
			e,
			type,
			label
		) {
			$(e).click(function (event) {
				var
					linkHREF = $(this).attr('href');
	
				try {
					_gaq.push(['_trackEvent', 'Outbound Links', type, label]);
					event.preventDefault();
					setTimeout(function () {
						window.location.href = linkHREF;
					}, 100);
				} catch (err) {
				}
			});
		}
		_trackOutboundLink(
			$('#app-store-link'),
			'iOS - ControlMyWeight',
			'image'
		);
	});

	function CE_READY() {
		CE2.set(1, 'nav');
	}
</script>
					<div style="clear: both"><!-- --></div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="positioner">
				<p class="links">
					<a href="https://generalhelp.calorieking.com/"></a> 
					<a href="http://www.calorieking.com/partners/"></a>  
					<a href="http://www.calorieking.com/terms/"></a> 
					<a href="http://www.calorieking.com/privacy/"></a>  
					<a href="http://www.calorieking.com/mobile/"></a> 
					<a href="http://www.calorieking.com/sitemap/"></a>
				</p>
				<p class="copyright">
					Copyright &copy;2014 CmpE272_Team27, Inc.
				</p>
				<ul id="sm_footer">
					<!--<li><a href="http://twitter.com/calorieking/" class="twitter">Twitter</a></li><!-->
					<li><a href="http://facebook.com/" class="fb">Facebook</a></li>
					<!--<li><a href="http://pinterest.com/calorieking/" class="pinterest">Pinterest</a></li><!-->
				</ul>
			</div>
		</div>
		
		
		
		<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/5390.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
	</body>
</html>

