<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can I Have It?</title>
    <meta name="description" content="" />
    <meta name="author" content="templatemo">
    <!-- Favicon-->
    <link rel="shortcut icon" href="./favicon.png" />		
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template  -->
    <link href="/css/templatemo_style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://ccakamai.about.com/include/css/globalcc_css.css?v=1413348749" />
	<link rel="stylesheet" type="text/css" href="http://ccakamai.about.com/include/css/ccplus_print.css?v=1413348749" media="print" />
	<link rel="stylesheet" href="/css/mycustom.css">
	    	<script src="/js/sweet-alert.js"></script>
  		<link rel="stylesheet" href="/css/sweet-alert.css">
    <script src="/socket.io/socket.io.js"></script>
    	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.mobile.customized.min.js"></script>
    <script src="/js/unslider.min.js"></script>
    <script src="/js/jquery.singlePageNav.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="/js/templatemo_script.js"></script>
	<script>
	
window.onload = function() {
	
	//alert('hi');
	$( "#food_data" ).hide();
	//$('#initial').text('Swipe tag nows');
	  $("#sendmesg").submit(function( event ) {
			event.preventDefault();
			submitreview();
		});
	};
function submitreview(){	
	$('#load').html("<img src='/loading.gif'>");
	//alert('submiting');
	var name = $('#rname').val();
	//alert(name);
	var email = $('#remail').val();
	var subject = $('#rsubject').val();
	var message = $('#rmessage').val();
	if(!name || !email || !subject || !message){
		sweetAlert("Oops!!!", "Please fill all the details",  "error");
		$('#load').html("");
		return false;
	}
	var url = '/savereview?name='+name+'&email='+email+'&subject='+subject+'&message='+message; 
    $.ajax({
        url:url,
        cache: false,
        async:false,
        success:function(data) {
              var respdata = data;
				if(data = 'success'){
					$('#load').html("");
					sweetAlert("We received your message!!!!", "Thank you!!!", "success");
				
					$('#rname').val('');
					$('#remail').val('');
					$('#rsubject').val('');
					$('#rmessage').val('');
				}
 
        }
        
        });
	
	
}
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    	$( "#food_data" ).show();
    	console.log('here2');
    	$('#tag').text(data.newtag);
    	var rows = data.res;
    	if(!data.askuser){
    		
    	swal({
			  title: "Got the item!!",
			  timer: 1000
			});
   		
    	}
  	console.log(rows.F_Name);
    	$('#item').text('<h1>'+rows.F_Name+'</h1>');
    	$('#name2').text(rows.F_Name);
    	$('#val1').text(rows.ServingSize);
    	$('#val2').text(rows.Calories);
    	$('#calor').text(rows.Calories);
    	$('#val3').text(rows.Cal_From_Fat);
    	$('#val4').text(rows.Total_Fat);
    	$('#val5').text(rows.Tot_Fat_daily_val);
    	$('#val6').text(rows.Sat_Fat);
    	$('#val7').text(rows.Sat_Fat_daily);
    	$('#val8').text(rows.PolyUnSat_Fat);
    	$('#val9').text(rows.Mono_UnSat_Fat);
    	$('#val10').text(rows.Cholestrol);
    	$('#val11').text(rows.Chol_daily_val);
    	$('#val12').text(rows.Sodium);
    	$('#val13').text(rows.Sodium_daily_val);
    	$('#val14').text(rows.Pottassium);
    	//alert(rows[0].Pottassium);
    	$('#val15').text(rows.Pottasium_daily_val);
    	$('#val16').text(rows.Carbohydrates);
    	$('#val17').text(rows.Carbo_daily_val);
    	$('#val18').text(rows.DietaryFiber);
    	$('#val19').text(rows.DFiber_daily_val);
    	$('#val20').text(rows.Sugars);
    	$('#val21').text(rows.Protein);
    	$('#val22').text(rows.Vit_A);
    	$('#val23').text(rows.Vit_C);
    	$('#val24').text(rows.Calicium);
    	$('#val25').text(rows.Iron);
    	$('#val26').text(rows.GoodPoints);
    	$('#val27').text(rows.BadPoints);
    	$('#foodpic').html(data.imgurl);
    	$('#graphpic').html(data.graphpic);
    	$('#piechartpic').html(data.piechartpic);
    	$(window).scrollTop(700);
    	//alert($('#food_data').offset().top);
    	//$(window).scrollTop($('#food_data').offset().top);
    	//$('#food_data')[0].scrollIntoView(true);
    	//alert(data.exceeded);
    	if(data.askuser){
    		//var temp = confirm('Do you wish to add this item in your diet for this day?');
    		swal({
    			  title: "Hi!!",
    			  text: "Do you wish to add this item in your diet for the day?",
    			  type: "warning",
    			  showCancelButton: true,
    			  confirmButtonColor: "green",
    			 
    			  confirmButtonText: "Yes, add!!!!",
    			  cancelButtonText: "No!!!!",
    			  closeOnConfirm: false,
    			  closeOnCancel: false
    			},
    			function(isConfirm){
    			  if (isConfirm) {
    	    			var url = '/additem?calories='+rows.Calories+'&email='+data.email; 
    	    		    $.ajax({
    	    		        url:url,
    	    		        cache: false,
    	    		        async:false,
    	    		        success:function(data) {
    	    		              var respdata = data;
    	    		           //  alert("sucess"+data.success);
    	    		              if(data.success){
    	    		            	  sweetAlert("Item has been successfully added",'You have consumed '+ data.totalcalconsumed +' calories so far for the day!!', "success");
    	    		            	  
    	   	    						if(data.exceeded){
    	   	    							sweetAlert("Item has been successfully added",'You have consumed '+ data.totalcalconsumed +' calories so far for the day!!', "success");
        	    							swal({
        	    								  title: 'Hey!!You have exceeded the recommended calorie limit '+data.maxcal+' for the day"',
        	    								  text: 'You have consumed '+ data.totalcalconsumed +' calories so far for the day!!',
        	    								  type: "warning",
        	    								  showCancelButton: false,
        	    								  confirmButtonColor: "#DD6B55",
        	    								  confirmButtonText: "Ok!!!",
        	    								  closeOnConfirm: true
        	    								});
        	    						}
        	    		 
    	    		            	  
    	    		              }
 
    	    		        	}
    	    		        
    	    		        });	    			   
    			  } else {
    				    swal("Cancelled", "Item Has not been added:)", "error");
    			  }
    			});
  	
    	}
    	//$('#tag').append(data.newtag);	
        
  // socket.emit('my other event', { my: 'data' });
  });
  
  function logout(){
	  
		var url = '/logout'; 
		swal({
			  title: "Are you sure you want to logout!??",
			  text: "",
			  type: "warning",
			  showCancelButton: true,
			  confirmButtonColor: "#DD6B55",
			  confirmButtonText: "Yes!",
			  cancelButtonText: "No!",
			  closeOnConfirm: false,
			  closeOnCancel: false
			},
			function(isConfirm){
			  if (isConfirm) {
				    $.ajax({
				        url:url,
				        cache: false,
				        async:false,
				        success:function(data) {
				              var respdata = data;
								if(data = 'success'){
						  			 swal({
										  title: "BYE!!!! BYE!!!!!",
										  timer: 500
										});
						  			$(location).attr('href',"/");
								}else{
									sweetAlert("Oops!!! Something went wrong",  "error");
									$(location).attr('href',"/");
								}
				 
				        }
				        
				        });
			  } else {
		  			 swal({
						  title: "Ok... I am Going Back!!!!!",
						  timer: 500
						});
			  }
			});
  }
</script>
	

<script>


</script>
  </head>
<body bgcolor="black">
  
    <div id="templatemo_banner_top" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="left" ><font size="4" color="white">Welcome <span id="dname"><%=disname%>                 
                    </span></font>   </p>
                </div>
                <div class="col-md-4">
                              
                   
                    
					<p class="right"><a href="/showcalculate">Calculate Calorie needs</a> <span class="glyphicon glyphicon-user"></span></p>
					 <p class="right"><a href="/showlogin">Login</a> <span class="glyphicon glyphicon-user"></span></p>
					 
                     <p class="right"><a href="/registration">Sing Up</a> <span class="glyphicon glyphicon-user"></span></p>  
                       <% if(disname !='Guest'){  %>
                       <p class="right"><a href="/showupdate">Update</a> <span class="glyphicon glyphicon-user"></span></p>
                       
                       <p class="right"><a href="javascript:void(0);" onclick="javascript:logout();">LogOut</a> <span class="glyphicon glyphicon-user"></span></p>
                       
                       <% } %>
                </div>
            </div>
        </div>
    </div>
    <div id="templatemo_banner_logo" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-4">
                    
                    <h1><a href="#">Know what you eat</a></h1><img src="/images/cal1.jpg" alt="logo" /><br />
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="banner" id="templatemo_banner_slide">
        <ul>
            <li class="templatemo_banner_slide_01">
                <div class="slide_caption">
                    <h1></h1>
                    <p></p>
                </div>
            </li>
            <li class="templatemo_banner_slide_02">
                <div class="slide_caption">
                    <h1></h1>
                    <p> <a rel="nofollow" href="http://www.templatemo.com"></a> </p>
                </div>
            </li>
            <li class="templatemo_banner_slide_03">
                <div class="slide_caption">
                    <h1></h1>
                    <p></p>
                </div>
            </li>
        </ul>
    </div>    


    <div id="templatemo_main_menu" class="container_wapper hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-justified">
                        <li><a href="#templatemo_banner_top">Home</a></li>
                        <li><a href="#templatemo_upcomming_event">Food Details</a></li>
                        <!--<li><a href="#templatemo_pricing">Pricing</a></li>-->
                        <!--<li><a href="#templatemo_blog">Blog</a></li>-->
                        <!--<li><a rel="nofollow" href="http://www.templatemo.com/page/1" class="external-link">External</a></li>-->
                        <li><a href="#templatemo_contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id = "food_data">
    <div id="templatemo_upcomming_event" class="container_wapper">
           <div class="container">
           <div class="flog">
				<div class="flog-left-rail">
					<div class="food-module">
						<div class="food-item">
							<div id="foodpic" class="food-photo">
								<!--  <img alt="nutrition data at Calorie Count" src="http://static.caloriecount.about.com/images/medium/apples-157507.jpg">-->
								
							</div>
							<div style="float:left;width:245px;" class="food-title">
								<div style="float:left;width:215px;margin-left:20px;" class="food-title-right">
																		
								</div>
								<br>
								<div class="food-stats">
									<div class="food-stats-box">
										<span >A</span>
										Grade
									</div>
								<div class="food-stats-box">
									<span id ="calor" class="food-stats-cal">116</span>
									Calories
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="food-nutrition">
						<div class="nutrition-label">
				    		<h5>Nutrition Facts</h5>
				    		<div style="line-height:15px;" align="left">
				            	Serving Size <span id="val1" class="miniAmt">1</span> 
				         	</div>
				    		<div class="r-rail-info-heading" align="left">
				        		Per Serving <span class="r-rail-d-val">% Daily Value*</span>
				    		</div>
				    		<div align="left"><strong>Calories</strong> <span id="val2" class="miniCal">116</span></div>
				            <p><div align="left">Calories from Fat <span id="val3" class="miniCalFat">3</span></div></p>
				             <p class="main" ><div align="left"><strong>Total Fat</strong> <span id="val4" class="miniFat">0.4</span> <span class="r-rail-d-val"><span id="val5" class="miniFatPct">1</span></span></div></p>
				             <p><div align="left"> Saturated Fat <span id="val6" class="miniSFat">0</span> <span class="r-rail-d-val"><span id="val7"  class="miniSFatPct">0</span>%</span></div></p>
				              <p><div align="left"> Polyunsaturated Fat <span id="val8"   class="miniPFat">0</span></div></p>
				              <p><div align="left">Monounsaturated Fat <span id="val9" class="miniMFat">0</span></div></p>
				               <p class="main"><div align="left"><strong>Cholesterol</strong> <span id="val10"  class="miniChol">0</span> <span class="r-rail-d-val"><span id="val11"  class="miniCholPct">0</span></span></div></p>
				               <p class="main"><div align="left"><strong>Sodium</strong> <span id="val12"  class="miniSodium">2</span> <span   class="r-rail-d-val"><span id="val13" class="miniSodiumPct">0</span></span></div></p>
				               <p class="main"><div align="left"><strong>Potassium</strong> <span id="val14"  class="miniPotassium">238.61</span> <span class="r-rail-d-val"><span id="val15" class="miniPotassiumPct">7</span></span></div></p>
				               <p class="main"><div align="left"><strong>Carbohydrates</strong> <span id="val16" class="miniCarb">30.8</span> <span class="r-rail-d-val"><span id="val17"  class="miniCarbPct">10</span></span></div></p>
				               <p><div align="left">Dietary Fiber <span id="val18"  class="miniFiber">5.4</span> <span class="r-rail-d-val"><span  id="val19"  class="miniFiberPct">22</span></span></div></p>
				               <p><div align="left">Sugars <span id="val20"  class="miniSugar">23.2</span></div></p>
				               <p class="main"><div align="left"><strong>Protein</strong> <span id="val21" class="miniProtein">0.6</span></div></p>
				        	<div class="r-rail-info-div"></div>
				    		<div>
				            	Vitamin A <span  id="val22" class="miniVitaPct">2</span>% ·
				                Vitamin C <span id="val23" class="miniVitcPct">17</span>%
				        	</div>
				    		<div>
				            	Calcium <span id="val24" class="miniCalciumPct">1</span>%   ·
				                Iron <span id="val25" class="miniIronPct">1</span>%
				        	</div>
						</div>
					</div>
				
				<div class="based-txt">*Based on a <a href="/cc/2000-calorie-diet.php">2000 calorie diet</a></div>
										
				<br>

				</div>
            </div>
            <div class="flog-left-rail">
            <div class="flog-middle-rail">
            
            				<h2 style="color:#00b0e3;font-family:Helvetica,Arial,sans-serif;font-weight:bold;font-size:16px;"><span id="name2"></span> Calories and Health Benefits</h2>
				<div class="white-round-box">
					<div id="graphpic" class="analysis-chart-item">
						
					</div>	
					<div class="pie-chart-item">
						<span id="piechartpic"  ></span>
						<div class="analysis-legends">
							<div class="legend-item">
								<div style="background:#69A8DD;" class="legend-box"></div>
								Fat
								</div>
								<div class="legend-item">
									<div style="background:#FFA200;" class="legend-box"></div>
										Pro
								</div>
							<div class="legend-item">
								<div style="background:#8CBF00;" class="legend-box"></div>
								Carb
							</div>
							<div class="legend-item">
								<div style="background:#000;" class="legend-box"></div>
								Alc
								</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
					<div class="pros-cons">
						<ul> 
							<span>GOOD POINTS</span>
							<li>No <a data-no_ajx="true" >saturated fat</a></li>
							<li>No <a data-no_ajx="true" >cholesterol</a></li>
							<li>Very low in <a data-no_ajx="true" >sodium</a></li>
							<li>High in <a data-no_ajx="true" >dietary fiber</a></li>
							<li>High in <a data-no_ajx="true" >vitamin C</a></li>
						</ul>
						<ul> 
							<span>BAD POINTS</span>
							<li>Very high in <a data-no_ajx="true" >sugar</a></li>
						</ul>
						<div class="clear"></div>
					</div>
            </div>
            </div>
            
     </div>
    </div>
 </div> 
</div>   
    <div id="templatemo_contact" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section_header">
                    <h1>Contact</h1>
                </div>
                <div class="col-md-6 col-md-offset-3 col-md-offset-3">
                    <p>Feel free to send us a message regarding information about food products.</p>
                </div>
               
               
                <form id= "sendmesg" action="" method="post">
                    <div class="col-md-4">
                        <p>Your Name</p>
                        <input type="text" name="rname" id="rname" placeholder="Full Name" />
                    </div>
                    <div class="col-md-4">
                        <p>Your Email</p>
                        <input type="text" name="remail" id="remail" placeholder="Your Email" />
                    </div>
                    <div class="col-md-4">
                        <p>Subject</p>
                        <input type="text" name="rsubject" id="rsubject" placeholder="Subject" />
                    </div>
                    <div class="col-xs-12">
                        <p>Message</p>
                        <textarea name="rmessage" id="rmessage" placeholder="Your message..." ></textarea>
                    </div>
                    <div class="col-md-4 col-xs-8">
                        <button >Send Message <div id = "load" > </div></button> 
                    </div> 
                </form>
            </div>
        </div>
    </div>
    <div id="templatemo_footer" class="container_wapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © 2014 CMPE-Team27 ALL RIGHTS RESERVED  
                </div>
            </div>
        </div>
    </div>
    
 
  </body>
</html>