<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Login Form</title>
        <meta name="description" content="Custom Login Form Styling with CSS3" />
        <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />
        <meta name="author" content="Codrops" />
       
        <link rel="stylesheet" type="text/css" href="/css/style1.css" />
		<script src="/js/modernizr.custom.63321.js"></script>
			<script src="/js/jquery-1.9.1.min.js"></script>
    	<script src="/js/sweet-alert.js"></script>
  		<link rel="stylesheet" href="/css/sweet-alert.css">
		<!--[if lte IE 7]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
		<style>	
			@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
			body {
				background: #7f9b4e url(/images/bg2.jpg) no-repeat center top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				background-size: cover;
			}
			.container > header h1,
			.container > header h2 {
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,0.7);
			}
		</style>
		<script>
		
  		
  		window.onload = function() {
  			

  		  $("#goback").submit(function( event ) {
  			 // alert('hi');
  			 swal({
					  title: "Just a sec!! Going!!",
					  timer: 500
					});
  				event.preventDefault();
  				$(location).attr('href',"/");
  			});
  		};
		
		</script>
    </head>
    <body>
        <div class="container">
						 <form class="form-4"  id ="goback" action=""><p>
					        <input type="submit" name="submit" value="Go Back To Home" ></p>
				    </form> 
			<section class="main">
				<form class="form-4" method="post" action = "/afterLogin">
					<h4 style="color:red"><%=error%></h4>
				    <h1>Login!!</h1>
				    <p>
				        <label for="login">username</label>
				        <input type="text" name="emailid" id="emailid" placeholder="username" required>
				    </p>
				    <p>
				        <label for="password">Password</label>
				        <input type="password" name='password' id="password" placeholder="Password" required> 
				    </p>

				    <p>
				        <input type="submit" name="submit" value="Continue">
				    </p>       
				</form>​
			</section>
			
        </div>
    </body>
</html>