
<html>
<head>

<link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
<form method="post" >
  <div class="one">
    
    
      <h1> yelp</h1>
	  
  </div>  
 <div class="outer">
 
  <div class="two">
     <h1>Sign up for yelp</h1>
	 <h3>Connect with great local businesses</h3>
  </div>
  <div class="three">
    <input class="textbox" type="text" name="firstname" placeholder="First Name"><br><br>
    <input class="textbox" type="text" name="lastname" placeholder="Last Name"><br><br>
    <input class="textbox" type="text" name="email" placeholder="Email"><br><br>
	<input class="textbox" type="password" name="password" placeholder="Password"><br><br>
	<button class="btn" type="submit" formaction="/afterSignup">Sign Up</button>
	<p>Already on Yelp</p><button type="submit" formaction="/login">Log in</button>
  </div>
 </div> 
 </form>
</body>


</html>